* {
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    background-color: lightgray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn {
    font-size: 2rem;
    outline: none;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    background-color: #2C7DFA;
    cursor: pointer;
}

.btn-hide {
    opacity: .7%;
    transition: opacity 500ms ease-out;
}

.btn-hide:hover {
    opacity: 1;
}

.btn-hide:focus {
    opacity: 0;
}

.btn-change {
    transition: color, background-color;
    transition-duration: 500ms;

}

.btn-change:focus {
    color: #bada55;
    background-color: #C0FFEE;
}

.btn-change:hover {
    color: #bada55;
    background-color: #C0FFEE;
}
